.product_wrapper {
  width: 100%;
  margin-top: 71px;
  height: 1000px;
  display: flex;
  align-items: center;

  .product_sidebar {
    width: 13%;
  }

  .product_container {
    width: 87%;
    height: 1000px;
    background-color: #f6f6f6;
  }
}
