.dashboard-wrapper {
  margin-top: 150px;
}

.container {
  display: flex;
}

.sidebar {
  width: 25%;
  height: 100vh;
  border: 1px solid black;
}

.dashboard-container {
  width: 75%;
  height: 100vh;
  border: 1px solid black;
  padding: 20px;
}
