:root {
  --swiper-theme-color: rgb(74, 238, 9);
}

// ---------CONTAINER---------
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  background-color: rgb(244, 244, 244);
}

.content {
  margin-bottom: 80px;
  width: 90%;
}

// ---------CATEGORIES---------
.categories-container {
  padding: 30px;
  background-color: #fff;
}

.categories-heading {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.cate-icon {
  font-size: 2.8rem;
  margin-right: 15px;
  font-weight: bold;
  color: var(--primary);
}

.cate-text {
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--primary);
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transition: 0.25s ease;
}

.category-item {
  width: 400px;
  height: 150px;
  display: flex;
  align-items: center;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  .item-img {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;

    img {
      width: 100%;
    }
  }

  .item-type {
    margin-left: 20px;

    .type-text {
      font-size: 1.7rem;
      font-weight: 500;
      color: var(--primary);
    }

    .type-subText {
      font-size: 1.2rem;
      color: #333;
    }
  }
}

// ---------FLASH SALE---------
.flashSale-container {
  margin-top: 50px;
  padding: 30px;
  background-color: #fff;
}

.flashSale-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.flashSale-more {
  display: flex;
  align-items: center;

  .more-item {
    text-decoration: none;
    color: var(--primary);
  }
}

.flashSale-heading {
  display: flex;
  align-items: center;

  .flashSale-text-1 {
    font-size: 2.2rem;
    letter-spacing: 0.6px;
    font-weight: bold;
    color: var(--primary);
  }

  .flashSale-text-2 {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--primary);
  }

  .countdown-minute {
    min-width: 34px;
    line-height: 25px;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 2px;
    margin-left: 10px;
    padding: 0px 8px;
    text-align: center;
    background-color: #333;
    color: #fff;
  }

  .countdown-second {
    min-width: 34px;
    line-height: 25px;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 2px;
    margin-left: 5px;
    padding: 0px 8px;
    text-align: center;
    background-color: #333;
    color: #fff;
  }
}

.flashSale-list {
  display: flex;
  align-items: center;
}

.flashSale-item {
  width: 200px;
  height: 300px;
  margin: auto;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: relative;
}

.item-img {
  width: 100%;
  padding: 10px;

  img {
    width: 100%;
  }
}

.item-discount {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
<<<<<<< HEAD
  width: 40px;
  height: 35px;
  clip-path: polygon(30% 0%,
      70% 0%,
      100% 0,
      100% 100%,
      48% 84%,
      0 100%,
      0 100%,
      0 0);
  background-color: rgba(245, 49, 49, 0.8);
=======
  width: 42px;
  height: 38px;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 0,
    100% 100%,
    48% 84%,
    0 100%,
    0 100%,
    0 0
  );
  background-color: #ff4d2e;
>>>>>>> 6b1d7618993b01eb7243d1dfd52c404a4d063ca9
}

.per-discount {
  text-align: center;
  margin-top: 5px;
  color: #ffd839;
  font-size: 1.5rem;
  font-weight: 500;
}

.item-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  color: var(--primary);
  font-size: 1.8rem;
  font-weight: 500;
}

.item-price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  color: #333;
}

.price {
  margin-right: 2px;
}

.item-status {
  margin: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.status-img {
  width: 20px;
  height: 23px;
  position: absolute;
  bottom: 10px;
  left: 20px;
  z-index: 2;
}

.loading {
  width: 150px;
  height: 20px;
  border-radius: 9px;
  overflow: hidden;
  background-color: #c2e0c2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading::before {
  content: "";
  width: 100px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 9px 0 0 9px;
  background-color: var(--primary);
}

.loading-text {
  font-weight: 500;
  color: #fff;
  font-size: 1.2rem;
  z-index: 1;
}

// ---------BEST SELLER---------
.swiper {
  width: 100%;
}

.swiper-slide {
  width: 200px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.best-seller_container {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 50px;
  padding: 30px;
}

.best-seller_title {
  margin-bottom: 30px;
}

.best-seller_title p {
<<<<<<< HEAD
  font-weight: 500;
  font-size: 2rem;
  color: #FF7C33;
  user-select: none;
}

.best-seller_items {
=======
  font-size: 2.2rem;
  font-weight: bold;
  color: #ff7c33;
  margin: 0 0 30px 0;
  user-select: none;
}

.best-seller_item {
>>>>>>> 6b1d7618993b01eb7243d1dfd52c404a4d063ca9
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-align: center;
  margin: 0 20px;
}

// .best-seller_items:first-child {
//   margin-left: 20px;
// }
.item-img1 {
  width: 100%;

  img {
    width: 90%;
  }
}

.best-seller_top {
  width: 40px;
  height: 40px;
  box-sizing: content-box;
  padding-top: 15px;
  position: relative;
  background: #ff7c33;
  color: #fff;
}

.best-seller_top p {
  font-size: 1.5rem;
}

.best-seller_top::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 13px solid #fff;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.item-name {
  width: 100%;
}

.item-price {
  width: 100%;
}

.item-sells {
<<<<<<< HEAD
=======
  background-color: rgba(0, 0, 0, 0.37);
  color: #fff;
  margin-top: 10px;
}

.item-sells span {
  font-size: 1.4rem;
  margin: 100px 0;
}

//TRY
.best-seller_container1 {
  width: 100%;
  // height: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 50px;
}

.best-seller_title1 p {
  user-select: none;
  color: #ff7c33;
}

.best-seller_list1 {
  // position: relative;
  // display: flex;
  // justify-content: space-evenly;
  // gap: 10px;
  padding: 0 30px;
}
.best-seller_items1 {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-align: center;
}
.item-img1 {
  width: 200px;

  img {
    width: 90%;
  }
}

.best-seller_top1 {
  width: 40px;
  height: 40px;
  box-sizing: content-box;
  padding-top: 15px;
  position: relative;
  background: #ff7c33;
  color: #fff;
}
.best-seller_top1 p {
  font-size: 1.5rem;
}
.best-seller_top1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 13px solid #fff;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.item-name1 {
  width: 200px;
}

.item-price1 {
  width: 200px;
}

.item-sells1 {
>>>>>>> 6b1d7618993b01eb7243d1dfd52c404a4d063ca9
  width: 100%;
  background-color: rgba(0, 0, 0, 0.37);
  color: #fff;
  margin-top: 10px;
}

.item-sell span {
  font-size: 1.4rem;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #333;
  color: red;
  z-index: 100;
  opacity: 20;
}

// ---------SHOP TRENDING---------

.shop-trending-container {
  margin-top: 50px;
  padding: 30px;
  background-color: #fff;
}

.shop-trending-top {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: var(--primary);
}

.shop-trending-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.shop-item {
  display: flex;
  width: 30%;
  align-items: center;
  padding: 24px;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  background-color: #f5f6f8;
}

.shop-item:hover {
  color: #333;
}

.shop-text {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sub-text {
  margin-top: 20px;
}

.rating {
  display: flex;
  align-items: center;
  margin-top: 20px;

  .rating-text {
    margin-right: 10px;
  }

  .rating-icon {
    margin-top: 10px;
  }

  .rate {
    font-size: 2.2rem;
  }
}

.shop-img {
  width: 126px;
  height: 126px;

  img {
    width: 100%;
  }
}