.header {
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-bottom: 30px;
}


.header-content {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo-link {
    width: 20%;
    display: flex;
    align-items: center;
    text-decoration: none;
}


.text {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
}

.sub-text{
    font-size: 3rem;
}

.inner-subText {
    color: var(--primary);
}

.search-bar {
    width: 500px;
    display: flex;
    align-items: center;
}

.search-bar input {
    font-size: 15px;
    flex: 1;
    padding: 13px;
    border: none;
    border-radius: 3px;
    outline: none;
    background: rgba(22, 24, 35, .03);

}
.search-bar button {    
    padding: 13px;
    margin-left: 2px;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #fff;
    background: var(--primary);
    cursor: pointer;
}

.options-content {
    display: flex;
}

.option {
    padding: 0 35px;
}

.option-link {
    color: #333;
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
}

.option-link:hover {
    color: var(--primary);
}

.nav-icon {
    display: flex;
    justify-content: center;
    align-content: center;
}

.cart-icon {
    position: relative;
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.cart-link {
    text-decoration: none;
}

.counter {
    user-select: none;
    position: absolute;
    bottom: 2.9rem;
    left: 2.5rem;
    width: 3.2rem;
    height: 2rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 25px;
    color: #fff;
    background: #F97B22;
}

// .disable {
//     display: none;
// }

.icon {
    font-size: 2.2rem;
    color: #333;
}

.user-icon {
    width: 4.5rem;
    height: 4.5rem;
    padding-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.user-options {
    width: 140px;
    position: relative;
}

.option-login::before {
    content: "";
    position: absolute;
    top: 0;
    right: 1rem;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid rgba(255, 255, 255);
    transform: translateY(-100%);
    transform: border-color 0.2s linear;
}

.option-login:hover:before {
    border-bottom-color: rgba(22, 24, 35, .0);;
}

.login-link, .signup-link {
    text-decoration: none;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    transform: background-color 0.2s linear;
}

.login-link:hover, .signup-link:hover {
    color: var(--primary);
    background-color: rgba(22, 24, 35, .04);
}

.login-link i {
    margin-right: 5px;
}
