/*-------------------------------------DASHBOARD-------------------------------------*/
.dashboard-wrapper {
  margin-top: 70px;
}

.container {
  display: flex;
}

.sidebar {
  width: 200px;
}

.dashboard-container {
  width: 100%;
  padding: 20px;
  background-color: #ddddddbb;

}
.dashboard-items {
  width: 70%;
  margin: auto;

  .monthly {
    font-size: 20px;
    font-weight: 500;
    color: #1f8a70;
  }
}
/*-------------------------------------CARD-------------------------------------*/
.card-items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  .item1 {
    
    border-left: 3px solid #1f8a70;
    color: #1f8a70;
  }

  .item2 {
    border-left: 3px solid #3aa3c9;
    color: #3aa3c9;
  }

  .item3 {
    border-left: 3px solid #fc7300;
    color: #fc7300;
  }

  .item4 {
    border-left: 3px solid #fa7070;
    color: #fa7070;
  }
}

.card-item {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 7px;
  padding: 20px 10px;
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;


  p {
    padding: 0;
    margin: 0;
  }

  .card-title {
    font-size: 18px;
    font-weight: 400;
  }

  .card-number {
    font-size: 22px;
    font-weight: 500;
  }
}

.card-statistics {
  position: relative;

  svg {
    width: 8rem;
    height: 8rem;
  }


}


/*-------------------------------------CHART-------------------------------------*/
.overview-chart {
  display: flex;
  justify-content: space-between;

  p {
    font-size: 23px;
    margin-bottom: 18px;
    color: rgb(78, 78, 78);
  }
}
//Revenue
.revenue-chart {
  width: fit-content;
  background-color: #fff;
  padding: 20px;
  width: 60%;
}

//Total Products
.products-chart {
  background-color: #fff;
  width: fit-content;
  padding: 20px;
  width: 36%;
}

//Detail
.details-chart {
  background-color: #fff;
  padding: 20px;
  margin-top: 36px;

  p {
    font-size: 23px;
    margin-bottom: 18px;
    color: rgb(78, 78, 78);
  }
}