/*-------------------------------------DASHBOARD-------------------------------------*/
.container {
  display: flex;
  margin-top: 71px;
  height: calc(148vh - 71px);
}

.sidebar {
  width: 198px;
}

.dashboard-container {
  width: calc(100% - 198px);
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;

  .dashboard-items {
    width: 1300px;
  }
}
/*-------------------------------------CARD-------------------------------------*/
.card-items {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 20px;
  margin-bottom: 25px;

  .item1 {
    width: 100%;
    border-left: 3px solid var(--primary);
    color: var(--primary);
  }

  .item2 {
    width: 100%;
    border-left: 3px solid #008ffb;
    color: #008ffb;
  }

  .item3 {
    width: 100%;
    border-left: 3px solid #feb019;
    color: #feb019;
  }

  .item4 {
    width: 100%;
    border-left: 3px solid #ff4560;
    color: #ff4560;
  }
}

.card-item {
  border-radius: 4px;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #fff;

  p {
    padding: 0;
    margin: 0;
  }

  .card-title {
    font-size: 18px;
    font-weight: 400;
  }

  .card-number {
    font-size: 22px;
    font-weight: 500;
  }
}

.card-statistics {
  position: relative;

  svg {
    width: 8rem;
    height: 8rem;
  }
}

/*-------------------------------------CHART-------------------------------------*/
.overview-chart {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
}
//Revenue
.revenue-chart {
  width: 64%;
  height: 100%;
  padding: 16px;
  background-color: #fff;

  .text {
    font-size: 23px;
    font-weight: 500;
  }

  .data-chart {
    width: 100%;
    height: 413px;
    margin-top: 20px;
  }
}

//Total Products
.products-chart {
  width: 35%;
  height: 100%;
  padding: 16px;
  background-color: #fff;

  .text {
    font-size: 23px;
    font-weight: 500;
  }

  .data-chart {
    width: 100%;
    height: 413px;
    margin-top: 20px;
  }
}

//Detail
.details-chart {
  width: 100%;
  height: 700px;
  padding: 16px;
  margin-top: 20px;
  background-color: #fff;

  .text {
    font-size: 23px;
    font-weight: 500;
  }

  .data-chart {
    width: 100%;
    height: 613px;
    margin-top: 20px;
  }
}
