.chart_wrapper {
  width: 100%;
  margin-top: 71px;
  height: 140vh;
  display: flex;
  align-items: center;

  .chart_sidebar {
    width: 198px;
  }

  .chart_container {
    width: calc(100% - 198px);
    height: 100%;
    background-color: #f6f6f6;
  }
}
