.product_wrapper {
  width: 100%;
  height: 1100px;
  margin-top: 71px;
  display: flex;
  align-items: center;

  .product_sidebar {
    width: 198px;
  }

  .product_container {
    width: calc(100% - 198px);
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;

    .product_content {
      width: var(--width);
      height: 1000px;
      margin-top: 20px;
      background-color: #fff;
    }
  }
}
